<%- include('header') %>
<p style="text-align: center;">
	<span class="content">你在这里不管怎么找</span>
	<span class="content">也没有你要的东西呦</span>
</p>
<p style="text-align: center;">
	<img src="https://gold-cdn.xitu.io/images/404.svg" class="content-img inline">			
</p>
<%- include('footer') %>