<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= blog.title %></title>
	<link rel="stylesheet" href="https://oe7q4ycj0.bkt.clouddn.com/lib/css/normalize.css/5.0.0/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('components/nav') %>
<%- include('components/nav-setting') %>
<%- include('components/notification') %>
